{% extends "base.html" %}

{% block title %} Projects | Piyush Solanki {% endblock %}

{% block content %}

    <section class="spec-section">
        <h2 class="spec-heading">I, did</h2>

        <div class="spec-table">
        <table>
            <tr>
                <th>Project</th>
                <th>Tech-Stack</th>
                <th>Glimps</th>
            </tr>
            <tr>
                <td>Todo</td>
                <td>Flask, HTML/CSS</td>
                <td>Github</td>
            </tr>
            <tr>
                <td>Todo</td>
                <td>Flask, HTML/CSS</td>
                <td>Github</td>
            </tr>
            
        </table>
    </div>
        
    </section>

{% endblock %}